SAUCE_STANDARD_USER=standard_user
SAUCE_STANDARD_PASS=<base64_encoded_password>
SAUCE_LOCKED_OUT_USER=locked_out_user
SAUCE_LOCKED_OUT_PASS=<base64_encoded_password>
SAUCE_INVALID_USER=standard_user
SAUCE_INVALID_PASS=<base64_encoded_password>
BASE_URL=https://www.saucedemo.com
